@font-face { font-family: 'Blinker'; src: url('../fonts/Blinker-Regular.ttf') format('truetype'); font-weight: normal; font-style: normal; font-display: block; }
@font-face { font-family: 'Blinker'; src: url('../fonts/Blinker-Bold.ttf') format('truetype'); font-weight: bold; font-style: normal; font-display: block; }
@font-face { font-family: 'Blinker'; src: url('../fonts/Blinker-SemiBold.ttf') format('truetype'); font-weight: 600; font-style: normal; font-display: block; }
@font-face { font-family: 'Blinker'; src: url('../fonts/Blinker-Light.ttf') format('truetype'); font-weight: 100; font-style: normal; font-display: block; }
@font-face { font-family: 'Blinker'; src: url('../fonts/Blinker-Black.ttf') format('truetype'); font-weight: 800; font-style: normal; font-display: block; }

@font-face { font-family: 'Teko'; src: url('../fonts/Teko-Regular.ttf') format('truetype'); font-weight: normal; font-style: normal; font-display: block; }
@font-face { font-family: 'Teko'; src: url('../fonts/Teko-Bold.ttf') format('truetype'); font-weight: 700; font-style: normal; font-display: block; }
@font-face { font-family: 'Teko'; src: url('../fonts/Teko-SemiBold.ttf') format('truetype'); font-weight: 600; font-style: normal; font-display: block; }
@font-face { font-family: 'Teko'; src: url('../fonts/Teko-Light.ttf') format('truetype'); font-weight: 300; font-style: normal; font-display: block; }
@font-face { font-family: 'Teko'; src: url('../fonts/Teko-Medium.ttf') format('truetype'); font-weight: 500; font-style: normal; font-display: block; }

@font-face { font-family: 'Titillium'; src: url('../fonts/TitilliumWeb-Regular.ttf') format('truetype'); font-weight: normal; font-style: normal; font-display: block; }
@font-face { font-family: 'Titillium'; src: url('../fonts/TitilliumWeb-Bold.ttf') format('truetype'); font-weight: 700; font-style: normal; font-display: block; }
@font-face { font-family: 'Titillium'; src: url('../fonts/TitilliumWeb-SemiBold.ttf') format('truetype'); font-weight: 600; font-style: normal; font-display: block; }
@font-face { font-family: 'Titillium'; src: url('../fonts/TitilliumWeb-Light.ttf') format('truetype'); font-weight: 300; font-style: normal; font-display: block; }

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin:0; padding:0; border:0; outline:0; font-size:100%; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block; }
nav ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after, q:before, q:after { content:''; content:none; }
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }
	ins { background-color:#ff9; color:#000; text-decoration:none; }
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }
table { border-collapse:collapse; border-spacing:0; }
	hr { display:block; height:1px; border:0; border-top:1px solid #cccccc; margin:1em 0; padding:0; }
input, select { vertical-align:middle; }
::-webkit-scrollbar { display: none; }

:root {
	--max-width: 1000px;
	--min-height: 100vh;
}

html, body { user-select: none; line-height: 1; margin: 0; padding: 0; font-size: 14px; font-family: 'Teko', 'Blinker'; color: #000; background-color: rgba(0,0,0,0); pointer-events: none; height: 100vh; width: 100%; position: relative; min-width: 400px; }
input, button, select, textarea { font-family: 'Teko', 'Blinker'; outline: none; cursor: pointer; line-height: 1 }
a { text-decoration: none; color: #D81B60; }
a:link, a:active { text-decoration: none }
a:visited { text-decoration: none; }


* { box-sizing: border-box; }


/** vowels **/
button.br-confirm { height: 24px; padding: 0px 12px; border: 1px solid #e0e0d0; background: #f8f8f0; border-radius: 2px; font-size: 11px; color: #888; }
button.br-confirm svg { width: 10px; height: 10px; margin-right: 5px; }

input.f-input { width: 100%; height: 28px; border-radius: 2px; color: #000; padding: 3px 8px 3px 8px; border: none; background-color: #fdfdfd; font-size: 11px; outline: none; cursor: pointer; border-style: solid; border-width: 1px; border-color: transparent #eaeaea #d0d0d0 #eaeaea; }

.blur-w0 { position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: #fff }

.ta-l { text-align: left }
.ta-r { text-align: right }
.ta-c { text-align: center }

button.b-e, button.b-o, button.b-c, button.b-w { display: inline-block; font-size: 14px; border: 1px solid #e0e0e0; margin: 2px 4px; padding: 5px 6px; border-radius: 4px; height: 30px; box-shadow: 1px 2px 2px rgba(0,0,0,0.15); color: #202020; }
button.b-e svg, button.b-o svg, button.b-c svg, button.b-w svg { width: 14px; height: 14px; color: #606060; margin-right: 4px; margin-bottom: 0px; }
button.b-e { background: linear-gradient(to bottom, #fbfbf9, #f0f0ea);  }
button.b-o { background: linear-gradient(to bottom, #fbfbf9, #e0f0e0); }
button.b-c { background: linear-gradient(to bottom, #fbfbf9, #e0e0f0); }
button.b-w { background: linear-gradient(to bottom, #fbfbf9, #f0e0e0); }
button.b-e.active { background: linear-gradient(to bottom, #f5f5bf, #f0f0ea); }

button.io svg { margin: 0 }
button.md { height: 22px; }
button.lg { height: 26px; }
button.ok { background-color: #aac9ce; }
button.wn { background-color: #ffdecd; }
button.er { background-color: #f5ded1 ;}
button.w100 { display: block; width: 100%; }
button.w50 { width: 50%; }
button:disabled, button:disabled svg { color: #b0b0b0 }

input.i-e { background-color: #fff; display: inline-block; font-size: 16px; border: 1px solid #e0e0e0; padding: 6px 16px; height: 40px; border-radius: 20px; background: linear-gradient(to top, #fefefa, #f8f8f2); box-shadow: 1px 2px 2px rgba(0,0,0,0.15); }
input.md { height: 26px; }
input.lg { height: 30px; }
input.w100 { display: block; width: 100%; }
input::placeholder { color: #606060 }

.m-4l { margin-left: 4px }
.m-4r { margin-right: 4px }

.fa-spin { animation-duration: 8s; }
.blink { animation: 1s linear infinite condemned_blink_effect; }

@keyframes condemned_blink_effect { 0% { visibility: hidden; } 50% { visibility: hidden; } 100% { visibility: visible; } }